.DS_Store
assets/images/DSC04341.jpg
assets/images/IMG_20260117_161017_068_01_13.JPG
assets/images/IMG_3732.jpg
assets/images/IMG_3796.jpg
assets/images/IMG_5394.JPG
assets/images/IMG_6383.mov
assets/images/IMG_6656.jpg
assets/images/IMG_9932.heic
assets/images/Snapseed.jpg
assets/images/dji_fly_20260530_171538_0006_1780831205272_photo 2.jpg
